################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Clube_Livro_Dev.slnx/FileContentIndex/287036d3-4b5d-44d3-bdd3-0a9779158df1.vsidx
/.vs/Clube_Livro_Dev.slnx/v18/.wsuo
/.vs/Clube_Livro_Dev.slnx/v18/DocumentLayout.json
/.vs/slnx.sqlite
