################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Clube_Livro_Dev.slnx/FileContentIndex/287036d3-4b5d-44d3-bdd3-0a9779158df1.vsidx
/.vs/Clube_Livro_Dev.slnx/v18/.wsuo
/.vs/Clube_Livro_Dev.slnx/v18/DocumentLayout.json
/.vs/slnx.sqlite
*.vsidx
*.v2
/OO_Solid_Ninja/.vs/OO_Solid_Ninja.slnx/v18
/OO_Solid_Ninja/.vs/OO_Solid_Ninja/CopilotIndices/18.3.511.5503
/OO_Solid_Ninja/.vs/ProjectEvaluation
/.vs
OO_Solid_Ninja/capitulo01/bin
OO_Solid_Ninja/capitulo01/obj
OO_Solid_Ninja/capitulo04/bin
OO_Solid_Ninja/capitulo04/obj
